data/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      WikiOracle Config — XML configuration schema.
      Defines the structure for WikiOracle XML configuration files.
      The config contains server runtime parameters (evaluation,
      training, TruthSet policy), client-side UI and storage settings,
      and LLM provider definitions with shared context.
    </xs:documentation>
  </xs:annotation>

  <!-- ======================================================================
       Root element
       ====================================================================== -->

  <xs:element name="config">
    <xs:annotation>
      <xs:documentation>
        Root configuration element for WikiOracle. Contains server runtime
        parameters (with evaluation, TruthSet, and training subsections)
        and LLM provider definitions (with shared context and output).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="server"    type="ServerType"/>
        <xs:element name="client"    type="ClientConfigType" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- ======================================================================
       Section 1 — Server
       ====================================================================== -->

  <xs:complexType name="ServerType">
    <xs:annotation>
      <xs:documentation>
        Server runtime parameters. Contains identity, mode flags, and
        subsections for TruthSet policy, evaluation defaults, training
        configuration, and URL allow-listing.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="server_name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Human-readable server display name.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="server_id" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Persistent server identity (UUID4). Auto-generated on first
            run and written back to the config file.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stateless" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Stateless mode — when true the server performs no disk writes.
            Equivalent to the --stateless CLI flag.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url_prefix" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            URL path prefix prepended to all routes, e.g. "/chat".
            Equivalent to the --url-prefix CLI flag.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="truthset" type="TruthSetConfigType">
        <xs:annotation>
          <xs:documentation>
            TruthSet policy settings controlling storage scope, symmetry
            enforcement, and truth weighting in provider prompts.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="evaluation" type="EvaluationType">
        <xs:annotation>
          <xs:documentation>
            Default evaluation parameters for LLM inference: sampling
            temperature, token limits, timeouts, and URL fetching.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="training" type="TrainingType">
        <xs:annotation>
          <xs:documentation>
            Online (continuous) learning configuration. Controls how the
            model updates its truth corpus from user interactions.
            See doc/Training.md for details.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="allowed_urls" type="AllowedUrlsType">
        <xs:annotation>
          <xs:documentation>
            URL prefixes permitted for authority lookups and dynamic
            provider fetches. Only https:// URLs matching one of these
            prefixes are allowed; file:// URLs are always blocked.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dropbox" type="DropboxType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Dropbox OAuth2 app credentials for encrypted cloud storage.
            Never sent to the client.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="providers" type="ProvidersType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            LLM provider definitions (type, model, URL, etc.).
            API keys are stored separately under client/api_keys.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- ── TruthSet Config ───────────────────────────────────────────────── -->

  <xs:complexType name="TruthSetConfigType">
    <xs:annotation>
      <xs:documentation>
        Policy settings governing the TruthSet: what gets stored,
        symmetry enforcement, and how heavily truth entries are
        weighted in provider system prompts.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="truth_symmetry" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Enforce Truth Symmetry.  When true (default), truth claims
            involving value judgements are checked for asymmetric harm
            under identity exchange before admission to the
            TruthSet.  Claims that fail the symmetry test are rejected
            with a dialog offering to record them as feelings instead.
            See doc/Ethics.md.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="store_concrete" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            When true, concrete facts (narrow spatiotemporal extent)
            are stored in the TruthSet alongside universal facts
            (broad extent).  When false (default), only universal facts
            persist — consistent with Zero-Knowledge / Selective
            Disclosure principles.  Concrete facts always train
            weights regardless of this setting; the fact/feeling
            distinction (not universal/concrete) is the privacy
            boundary.  See doc/Ethics.md and doc/Entanglement.md.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="truth_weight" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Weight factor (0.0–1.0) controlling how heavily TruthSet
            entries influence provider system prompts. 0 disables
            truth injection; 1 applies full weight. Client-overridable.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- ── Evaluation ────────────────────────────────────────────────────── -->

  <xs:complexType name="EvaluationType">
    <xs:annotation>
      <xs:documentation>
        Default inference parameters applied to all LLM evaluation
        requests unless overridden per-provider.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="temperature">
        <xs:annotation>
          <xs:documentation>
            Sampling temperature for LLM responses. Valid range is
            0.0 (deterministic) to 2.0 (maximum randomness).
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="2.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="max_tokens" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Maximum number of tokens in a single LLM response.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:positiveInteger"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="timeout" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Request timeout in seconds for LLM evaluation calls.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:positiveInteger"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="url_fetch" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Allow the assistant to fetch and incorporate content from
            URLs referenced in the conversation.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thought_free" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            When true, suppress chain-of-thought / thinking tokens in
            LLM responses (where supported by the provider).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- ── Training ──────────────────────────────────────────────────────── -->

  <xs:complexType name="TrainingType">
    <xs:annotation>
      <xs:documentation>
        Configuration for the continuous online learning subsystem.
        Controls learning rates, truth corpus location, device selection,
        and optional dissonance detection.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="enabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Master switch for continuous truth corpus updates from user
            interactions. Defaults to false.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="truth_corpus_path" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Filesystem path to the append-only truth log (JSONL format).
            Relative paths are resolved from the project root.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="truth_max_entries" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Maximum number of entries in the server TruthSet.
            When exceeded during the merge step, entries with |trust|
            closest to 0 are trimmed (weakest signal removed first).
            Default: 1000.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:positiveInteger"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="alpha_base" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>
            Base learning rate for online training weight updates.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alpha_min" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>
            Minimum learning rate floor. The adaptive scheduler will
            never reduce the rate below this value.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alpha_max" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>
            Maximum learning rate ceiling. The adaptive scheduler will
            never increase the rate above this value.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="merge_rate" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>
            Slow-moving exponential average rate used when merging newly
            learned truth entries into the canonical corpus.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="device">
        <xs:annotation>
          <xs:documentation>
            Compute device for training operations.
            - auto: automatically select the best available device
            - cpu:  force CPU execution
            - cuda: use an NVIDIA CUDA GPU
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="auto"/>
            <xs:enumeration value="cpu"/>
            <xs:enumeration value="cuda"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dissonance_enabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Enable cognitive dissonance detection. When true the trainer
            identifies and penalises contradictions between new inputs
            and established truth entries.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operators_dynamic_enabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Enable dynamic operator loading.  Custom operators
            extend the training pipeline with user-defined
            transformations.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="warmup_steps" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Sigmoid warmup midpoint for training annealing.  Training
            ramps from 0 to full strength over approximately 2xN steps.
            Default: 50.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:positiveInteger"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="grad_clip" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Maximum gradient norm for clipping.  Prevents catastrophic
            single-step weight changes during online training.
            Default: 1.0.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="anchor_decay" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            EMA blend-back rate toward checkpoint weights (anti-capture).
            After each online training step, model weights are blended
            back toward the original checkpoint by this factor x truth_weight.
            Default: 0.001.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- ── Allowed URLs ──────────────────────────────────────────────────── -->

  <xs:complexType name="AllowedUrlsType">
    <xs:annotation>
      <xs:documentation>
        A list of URL prefix strings. Each entry defines a permitted
        prefix for outbound HTTP(S) requests made by the server for
        authority checks and provider API calls.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A single allowed URL prefix (e.g. "https://api.openai.com/").
            The server permits outbound requests only to URLs that begin
            with one of these prefixes.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ── Dropbox ────────────────────────────────────────────────────────── -->

  <xs:complexType name="DropboxType">
    <xs:annotation>
      <xs:documentation>
        Dropbox OAuth2 app credentials. These are server-only secrets
        and are stripped by _normalize_config before sending to clients.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="app_key" type="xs:string" use="required"/>
    <xs:attribute name="app_secret" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- ======================================================================
       Section 2 — Client
       ====================================================================== -->

  <xs:complexType name="ClientConfigType">
    <xs:annotation>
      <xs:documentation>
        Client-side settings sent to the browser. Contains UI preferences
        and storage configuration. Never includes server secrets.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="ui" type="UIType" minOccurs="0"/>
      <xs:element name="storage" type="StorageType" minOccurs="0"/>
      <xs:element name="temperature" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Sampling temperature for LLM responses (0.0–2.0).
            Overrides server.evaluation.temperature when present.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="2.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="url_fetch" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Allow the assistant to fetch and incorporate content from
            URLs referenced in the conversation.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thought_free" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            When true, suppress chain-of-thought / thinking tokens in
            LLM responses (where supported by the provider).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="providers" type="ClientProvidersType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Client-owned provider settings: default provider selection and
            API keys. Keys override server-provided defaults. Provider
            definitions (type, model, URL) are in server/providers.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ClientProvidersType">
    <xs:annotation>
      <xs:documentation>
        Client provider settings: default provider/model selection and
        provider entries carrying API keys (name + api_key only).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="default_provider" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Provider selected on application startup (must match a
            provider name under server/providers).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="default_model" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Model identifier selected on startup for the default
            provider (e.g. "gemini-2.5-flash"). When omitted, the
            server provider's built-in default model is used.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="provider" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="api_key" type="xs:string"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ── UI ────────────────────────────────────────────────────────────── -->

  <xs:complexType name="UIType">
    <xs:annotation>
      <xs:documentation>
        User interface preferences: layout mode, colour theme,
        divider position, swipe navigation, and confirmation.
        Model selection lives under client/providers/default_model.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="layout" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="theme" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="system"/>
            <xs:enumeration value="light"/>
            <xs:enumeration value="dark"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="divider_pos" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="swipe_nav_horizontal" type="xs:boolean" minOccurs="0"/>
      <xs:element name="swipe_nav_vertical" type="xs:boolean" minOccurs="0"/>
      <xs:element name="confirm_actions" type="xs:boolean" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ── Storage ───────────────────────────────────────────────────────── -->

  <xs:complexType name="StorageType">
    <xs:annotation>
      <xs:documentation>
        Cloud storage settings.  When Dropbox is connected, config.zip
        and state.zip are stored as encrypted archives in the App Folder.
        state_key holds the password for state.zip so the client can
        auto-load state after decrypting config.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="state_key" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- ======================================================================
       Section 3 — Providers
       ====================================================================== -->

  <xs:complexType name="ProvidersType">
    <xs:annotation>
      <xs:documentation>
        Container for LLM provider definitions and shared context.
        Section-level elements (context, output, truth_context,
        conversation_context) apply to all providers. Individual
        provider elements carry per-provider configuration.
        Default provider/model selection lives under client/providers.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="context" type="XHTMLContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Shared XHTML context injected into all provider system
            prompts. Provides background knowledge and framing for
            the conversation.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="output" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Output format instructions injected into all provider
            system prompts. Defines the expected response structure.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="truth_context" type="XHTMLContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            System prompt context for truth-only providers (those with
            conversation=false). Typically instructs the provider to
            respond exclusively with truth tags.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="conversation_context" type="XHTMLContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            System prompt context for conversational providers (those
            with conversation=true). Typically provides instructions
            for producing both truth tags and a conversational response.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="provider" type="ProviderType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A single LLM provider configuration.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProviderType">
    <xs:annotation>
      <xs:documentation>
        Configuration for an individual LLM provider including API
        credentials, endpoint URL, default model, and request options.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Provider lookup key and display name shown in the chat UI
            (e.g. "WikiOracle", "OpenAI", "Anthropic", "Gemini", "Grok").
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Provider type identifier for API dispatch
            (e.g. "wikioracle", "openai", "anthropic", "gemini", "grok", "openrouter").
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="username" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            API login email address associated with this provider account.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>
            API endpoint URL. Built-in defaults are used when omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="api_key" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            API key for authentication. Can also be supplied via the
            corresponding environment variable (e.g. OPENAI_API_KEY,
            ANTHROPIC_API_KEY, GEMINI_API_KEY, XAI_API_KEY).
            Optional in server provider definitions; client API keys
            are stored under client/providers.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="model" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Default model identifier to use for requests when no model
            is explicitly selected (e.g. "gpt-4o", "claude-sonnet-4-6").
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timeout">
        <xs:annotation>
          <xs:documentation>
            Request timeout in seconds. Must be a positive integer.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:positiveInteger"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="streaming" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Whether to use streaming (Server-Sent Events) for responses
            from this provider. Defaults to false when omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- ======================================================================
       XHTML content
       ====================================================================== -->

  <xs:complexType name="XHTMLContentType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
