data/state.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      WikiOracle State XML schema.
      The root state contains a required header, zero or more top-level
      conversations, and an optional truth table. Conversations recurse
      directly through nested conversation/message children. Truth entries
      are typed XML elements under &lt;truth&gt; and use DoT on [-1, +1]
      for all truth-bearing kinds except feeling.
    </xs:documentation>
  </xs:annotation>

  <!-- ======================================================================
       Shared scalar types
       ====================================================================== -->

  <xs:simpleType name="DoTType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IdListType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^,]+(\s*,\s*[^,]+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ======================================================================
       Root element
       ====================================================================== -->

  <xs:element name="state">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="HeaderType"/>
        <xs:element ref="conversation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="truth" type="TruthTableType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ======================================================================
       Header
       ====================================================================== -->

  <xs:complexType name="HeaderType">
    <xs:all>
      <xs:element name="version" type="xs:positiveInteger"/>
      <xs:element name="schema" type="xs:string"/>
      <xs:element name="time" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="context" type="XHTMLContentType"/>
      <xs:element name="user_guid" type="xs:string" minOccurs="0"/>
      <xs:element name="output" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ======================================================================
       Conversations
       ====================================================================== -->

  <xs:element name="conversation" type="ConversationType"/>

  <xs:complexType name="ConversationType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="message"/>
        <xs:element ref="conversation"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="parentId" type="IdListType" use="optional"/>
    <xs:attribute name="selected" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:element name="message" type="MessageType"/>

  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element name="content" type="XHTMLContentType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="role" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="user"/>
          <xs:enumeration value="assistant"/>
          <xs:enumeration value="system"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="username" type="xs:string" use="required"/>
    <xs:attribute name="time" type="xs:string" use="required"/>
    <xs:attribute name="selected" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- ======================================================================
       Truth table
       ====================================================================== -->

  <xs:attributeGroup name="TruthCommonAttributes">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="title" type="xs:string" use="optional"/>
    <xs:attribute name="time" type="xs:string" use="optional"/>
    <xs:attribute name="place" type="xs:string" use="optional"/>
  </xs:attributeGroup>

  <xs:complexType name="FactTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="FeelingTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="ReferenceAnchorType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="href" type="xs:string" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="ReferenceTruthType">
    <xs:sequence>
      <xs:element name="a" type="ReferenceAnchorType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <xs:complexType name="BinaryOperatorTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
    <xs:attribute name="arg1" type="xs:string" use="optional"/>
    <xs:attribute name="arg2" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="UnaryOperatorTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
    <xs:attribute name="arg1" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AuthorityLinkType">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="refresh" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProviderTruthType">
    <xs:sequence>
      <xs:element name="api_url" type="xs:string" minOccurs="0"/>
      <xs:element name="api_key" type="xs:string" minOccurs="0"/>
      <xs:element name="model" type="xs:string" minOccurs="0"/>
      <xs:element name="system" type="XHTMLContentType" minOccurs="0"/>
      <xs:element name="authority" type="AuthorityLinkType" minOccurs="0"/>
      <xs:element name="prelim" type="xs:boolean" minOccurs="0"/>
      <xs:element name="timeout" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="max_tokens" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <xs:complexType name="AuthorityTruthType">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="refresh" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <xs:element name="fact" type="FactTruthType"/>
  <xs:element name="feeling" type="FeelingTruthType"/>
  <xs:element name="reference" type="ReferenceTruthType"/>
  <xs:element name="and" type="BinaryOperatorTruthType"/>
  <xs:element name="or" type="BinaryOperatorTruthType"/>
  <xs:element name="not" type="UnaryOperatorTruthType"/>
  <xs:element name="non" type="UnaryOperatorTruthType"/>
  <xs:element name="provider" type="ProviderTruthType"/>
  <xs:element name="authority" type="AuthorityTruthType"/>

  <xs:complexType name="TruthTableType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="fact"/>
        <xs:element ref="feeling"/>
        <xs:element ref="reference"/>
        <xs:element ref="and"/>
        <xs:element ref="or"/>
        <xs:element ref="not"/>
        <xs:element ref="non"/>
        <xs:element ref="provider"/>
        <xs:element ref="authority"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- ======================================================================
       XHTML content
       ====================================================================== -->

  <xs:complexType name="XHTMLContentType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
