data/state.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      WikiOracle State XML schema.
      The root state contains a required client block, zero or more top-level
      conversations, and an optional TruthSet. Conversations recurse
      directly through nested conversation/message children. Truth entries
      are typed XML elements under &lt;truth&gt; and use DoT on [-1, +1]
      for all truth-bearing kinds except feeling.
    </xs:documentation>
  </xs:annotation>

  <!-- ======================================================================
       Shared scalar types
       ====================================================================== -->

  <xs:simpleType name="DoTType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IdListType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^,]+(\s*,\s*[^,]+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ======================================================================
       Root element
       ====================================================================== -->

  <xs:element name="state">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="HeaderType"/>
        <xs:element ref="conversation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="truth" type="TruthSetType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ======================================================================
       Header
       ====================================================================== -->

  <xs:complexType name="HeaderType">
    <xs:annotation>
      <xs:documentation>
        State header: identity, versioning, and timestamps. The client is
        the authority for all data in this block — the server never owns it.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="version" type="xs:positiveInteger"/>
      <xs:element name="schema" type="xs:string"/>
      <xs:element name="time_creation" type="xs:string"/>
      <xs:element name="time_lastModified" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="client_name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Display name shown in chat messages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="client_id" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Persistent client identifier. Auto-generated from the client
            name when absent.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- ======================================================================
       Conversations
       ====================================================================== -->

  <xs:element name="conversation" type="ConversationType"/>

  <xs:complexType name="ConversationType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="message"/>
        <xs:element ref="conversation"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="parentId" type="IdListType" use="optional"/>
    <xs:attribute name="selected" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:element name="message" type="MessageType"/>

  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element name="content" type="XHTMLContentType"/>
      <xs:element name="attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="role" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="user"/>
          <xs:enumeration value="assistant"/>
          <xs:enumeration value="system"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="username" type="xs:string" use="required"/>
    <xs:attribute name="time" type="xs:string" use="required"/>
    <xs:attribute name="selected" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AttachmentType">
    <xs:annotation>
      <xs:documentation>
        File attachment on a message.  URL attachments use the url
        attribute; inline data (e.g. base64 images) is stored as text
        content of the element.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="optional"/>
        <xs:attribute name="url" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ======================================================================
       TruthSet
       ====================================================================== -->

  <xs:attributeGroup name="TruthCommonAttributes">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="title" type="xs:string" use="optional"/>
    <xs:attribute name="time" type="xs:string" use="optional"/>
    <xs:attribute name="place" type="xs:string" use="optional"/>
  </xs:attributeGroup>

  <xs:complexType name="FactTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="FeelingTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="ReferenceAnchorType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="href" type="xs:string" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="ReferenceTruthType">
    <xs:sequence>
      <xs:element name="a" type="ReferenceAnchorType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <!-- ── Logic operators ─────────────────────────────────────────────── -->

  <xs:complexType name="OperatorRefType">
    <xs:annotation>
      <xs:documentation>
        Reference to an existing truth entry by ID.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:group name="OperatorOperandGroup">
    <xs:annotation>
      <xs:documentation>
        An operator operand: either a reference to an existing entry,
        or an inline fact or feeling element.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="ref" type="OperatorRefType"/>
      <xs:element ref="fact"/>
      <xs:element ref="feeling"/>
    </xs:choice>
  </xs:group>

  <xs:complexType name="BinaryOperatorContentType">
    <xs:annotation>
      <xs:documentation>
        Content of a binary operator (and, or). Requires 2 or more operands.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="OperatorOperandGroup" minOccurs="2" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UnaryOperatorContentType">
    <xs:annotation>
      <xs:documentation>
        Content of a unary operator (not, non). Requires exactly 1 operand.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="OperatorOperandGroup" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LogicType">
    <xs:annotation>
      <xs:documentation>
        A logic entry wraps a single Strong Kleene operator (and, or, not, non)
        with truth metadata. The operator's children are operand references or
        inline fact/feeling entries.
        Strong Kleene semantics on [-1, +1]:
          and(a, b, ...) = min(a, b, ...)
          or(a, b, ...)  = max(a, b, ...)
          not(a)         = -a
          non(a)         = 1 - 2|a| (non-affirming negation)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="and" type="BinaryOperatorContentType"/>
        <xs:element name="or" type="BinaryOperatorContentType"/>
        <xs:element name="not" type="UnaryOperatorContentType"/>
        <xs:element name="non" type="UnaryOperatorContentType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <xs:complexType name="AuthorityLinkType">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="refresh" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProviderTruthType">
    <xs:sequence>
      <xs:element name="api_url" type="xs:string" minOccurs="0"/>
      <xs:element name="api_key" type="xs:string" minOccurs="0"/>
      <xs:element name="model" type="xs:string" minOccurs="0"/>
      <xs:element name="system" type="XHTMLContentType" minOccurs="0"/>
      <xs:element name="authority" type="AuthorityLinkType" minOccurs="0"/>
      <xs:element name="conversation" type="xs:boolean" minOccurs="0"/>
      <xs:element name="timeout" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="max_tokens" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <xs:complexType name="AuthorityTruthType">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="refresh" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <xs:element name="fact" type="FactTruthType"/>
  <xs:element name="feeling" type="FeelingTruthType"/>
  <xs:element name="reference" type="ReferenceTruthType"/>
  <xs:element name="logic" type="LogicType"/>
  <xs:element name="provider" type="ProviderTruthType"/>
  <xs:element name="authority" type="AuthorityTruthType"/>

  <xs:complexType name="TruthSetType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="fact"/>
        <xs:element ref="feeling"/>
        <xs:element ref="reference"/>
        <xs:element ref="logic"/>
        <xs:element ref="provider"/>
        <xs:element ref="authority"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- ======================================================================
       XHTML content
       ====================================================================== -->

  <xs:complexType name="XHTMLContentType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
