data/state.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      WikiOracle State XML schema.
      The root state contains a required client block, zero or more top-level
      conversations, and an optional TruthSet. Conversations recurse
      directly through nested conversation/message children. Truth entries
      are typed XML elements under &lt;truth&gt; and use DoT on [-1, +1]
      for all truth-bearing kinds except feeling.
    </xs:documentation>
  </xs:annotation>

  <!-- ======================================================================
       Shared scalar types
       ====================================================================== -->

  <xs:simpleType name="DoTType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IdListType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^,]+(\s*,\s*[^,]+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ======================================================================
       Root element
       ====================================================================== -->

  <xs:element name="state">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="client" type="ClientType"/>
        <xs:element ref="conversation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="truth" type="TruthSetType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ======================================================================
       Client
       ====================================================================== -->

  <xs:complexType name="ClientType">
    <xs:annotation>
      <xs:documentation>
        Client identity and preferences. The client is the authority for
        all data in this block — the server never owns it.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="version" type="xs:positiveInteger"/>
      <xs:element name="schema" type="xs:string"/>
      <xs:element name="time_creation" type="xs:string"/>
      <xs:element name="time_lastModified" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="client_name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Display name shown in chat messages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="client_id" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Persistent client identifier. Auto-generated from the client
            name when absent.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ui" type="StateUIType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Client-side UI preferences. These are owned by the client and
            persisted in the state file, not the server config.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- ── State UI ──────────────────────────────────────────────────────── -->

  <xs:complexType name="StateUIType">
    <xs:annotation>
      <xs:documentation>
        User interface preferences including layout mode, colour theme,
        model selection, splitter position, swipe navigation toggles,
        and action confirmation prompts.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="layout" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Layout mode for the chat interface.
            - horizontal: side-by-side tree and chat panels
            - vertical:   stacked tree and chat panels
            - flat:       single-panel chat only
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
            <xs:enumeration value="flat"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="theme" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Colour theme for the UI.
            - system: follow the operating system preference
            - light:  light background theme
            - dark:   dark background theme
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="system"/>
            <xs:enumeration value="light"/>
            <xs:enumeration value="dark"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="model" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Currently selected model identifier for the active provider.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="splitter_pct" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Conversation-tree / chat panel splitter position expressed as
            a percentage (0-100). A value of 0 collapses the tree panel.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="swipe_nav_horizontal" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Enable horizontal swipe gestures (left/right) to navigate
            between sibling conversation branches.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="swipe_nav_vertical" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Enable vertical swipe gestures (up/down) to navigate between
            sibling conversation branches.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="confirm_actions" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            When true, the UI prompts the user for confirmation before
            destructive operations such as deletes and merges.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- ======================================================================
       Conversations
       ====================================================================== -->

  <xs:element name="conversation" type="ConversationType"/>

  <xs:complexType name="ConversationType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="message"/>
        <xs:element ref="conversation"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="parentId" type="IdListType" use="optional"/>
    <xs:attribute name="selected" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:element name="message" type="MessageType"/>

  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element name="content" type="XHTMLContentType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="role" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="user"/>
          <xs:enumeration value="assistant"/>
          <xs:enumeration value="system"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="username" type="xs:string" use="required"/>
    <xs:attribute name="time" type="xs:string" use="required"/>
    <xs:attribute name="selected" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- ======================================================================
       TruthSet
       ====================================================================== -->

  <xs:attributeGroup name="TruthCommonAttributes">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="title" type="xs:string" use="optional"/>
    <xs:attribute name="time" type="xs:string" use="optional"/>
    <xs:attribute name="place" type="xs:string" use="optional"/>
  </xs:attributeGroup>

  <xs:complexType name="FactTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="FeelingTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="ReferenceAnchorType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="href" type="xs:string" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="ReferenceTruthType">
    <xs:sequence>
      <xs:element name="a" type="ReferenceAnchorType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <xs:complexType name="BinaryOperatorTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
    <xs:attribute name="arg1" type="xs:string" use="optional"/>
    <xs:attribute name="arg2" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="UnaryOperatorTruthType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
    <xs:attribute name="arg1" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AuthorityLinkType">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="refresh" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProviderTruthType">
    <xs:sequence>
      <xs:element name="api_url" type="xs:string" minOccurs="0"/>
      <xs:element name="api_key" type="xs:string" minOccurs="0"/>
      <xs:element name="model" type="xs:string" minOccurs="0"/>
      <xs:element name="system" type="XHTMLContentType" minOccurs="0"/>
      <xs:element name="authority" type="AuthorityLinkType" minOccurs="0"/>
      <xs:element name="conversation" type="xs:boolean" minOccurs="0"/>
      <xs:element name="timeout" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="max_tokens" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <xs:complexType name="AuthorityTruthType">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="refresh" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="TruthCommonAttributes"/>
    <xs:attribute name="DoT" type="DoTType" use="required"/>
  </xs:complexType>

  <xs:element name="fact" type="FactTruthType"/>
  <xs:element name="feeling" type="FeelingTruthType"/>
  <xs:element name="reference" type="ReferenceTruthType"/>
  <xs:element name="and" type="BinaryOperatorTruthType"/>
  <xs:element name="or" type="BinaryOperatorTruthType"/>
  <xs:element name="not" type="UnaryOperatorTruthType"/>
  <xs:element name="non" type="UnaryOperatorTruthType"/>
  <xs:element name="provider" type="ProviderTruthType"/>
  <xs:element name="authority" type="AuthorityTruthType"/>

  <xs:complexType name="TruthSetType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="fact"/>
        <xs:element ref="feeling"/>
        <xs:element ref="reference"/>
        <xs:element ref="and"/>
        <xs:element ref="or"/>
        <xs:element ref="not"/>
        <xs:element ref="non"/>
        <xs:element ref="provider"/>
        <xs:element ref="authority"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- ======================================================================
       XHTML content
       ====================================================================== -->

  <xs:complexType name="XHTMLContentType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
